@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #354B45;
}

/* headings and logo */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #454545;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #454545;
}

.active {
    border-bottom: 1px solid #454545;
}

/* hero image */

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: 1600px;
}

#hero-text {
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.6;
    
    width: auto;
    height: auto;

    padding: 20px;

    color: #454545;
    background-color: #59fad7;

    top: 200px;
    right: 100px;

    position: absolute;
}

/* information section */

#info {
    height: 800px;
}

#left-home {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30%;
    float: left;
    background-color: blue;
}

#right-home {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70%;
    float: right;
    background-color: green;
}

#left-home img {
    height: 500px;
    width: auto;
    float: left;
    margin-left: 25px;
}

#right-home p {
    padding-top: 20px;
    font-size: 20px;
}

#right-home h2 {
    padding: 10px;
    font-size: 30px;
}

/* footer */

footer {
    height: 150px;
}

#footer-menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}

#footer-menu li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 43px;
}

#footer-menu a {
    text-decoration: none;
    color: inherit;
}

#footer-menu a:hover {
    border-bottom: 1px solid #454545;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #454545;
}

/* timetable */

#left-timetable {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: red;
}

#right-timetable {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: green;
}

#center-timetable {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#left-timetable img {
    height: 300px;
    width: auto;
    float: left;
    margin: 10px;
}

#right-timetable img {
    height: 300px;
    width: auto;
    float: right;
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    background-color: #59fad7;
    padding: 10px;
    width: 250px;
    margin: 10px 50px 10px 100px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    color: #454545;
  }

  .grid-heading {
      font-weight: bold;
      font-size: 25px;
      text-decoration: underline;
  }

/* contact us */

#contact-us-left {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    float: left;
    background-color: blue;
}

#contact-us-right {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    float: right;
    background-color: green;
}

#contact-us-right img {
    height: 500px;
    width: auto;
    float: left;
    margin: 10px;
}


/* signup form */

.signup-form {
    clear: left;
}

.signup {
    margin: 150px 10% 0 0;
    color: #454545;
    background-color: #59fad7;
    max-width: 400px;
    padding: 30px;
    border: 2px solid green;
}

.signup > h2 {
    color: #454545;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #454545;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #454545;
    border-radius: 2px;
}

.text-input:hover {
    border-color: green;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: green;
    color: #454545;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: green;
}