@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #354B45;
}

/* headings and logo */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #454545;
}

.logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 4px;
}

.menu, .logo {
    line-height: 75px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid #454545;
}

.active {
    border-bottom: 1px solid #454545;
}

/* hero image */

.hero {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: 1550px;
}

.hero-text {
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.6;
    
    width: auto;
    height: auto;

    padding: 20px;

    color: #454545;
    background-color: #59fad7;

    top: 200px;
    right: 100px;

    position: absolute;
}

/* information section */

.info {
    height: 600px;
}

.left-home {
    margin-top: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30%;
    float: left;
}

.right-home {
    padding-top: 30px;
    width: 70%;
    float: right;
}

.left-home img {
    height: 535px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-home p {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-left: 10px;
}

.right-home h2 {
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-left: 10px;
}

/* footer */

footer {
    height: 150px;
}

.center-footer {
    height: 75px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #454545;
}

/* timetable */

.left-timetable {
    padding-top: 30px;
    width: 35%;
    height: 650px;
    float: left;
}

.right-timetable {
    padding-top: 30px;
    width: 35%;
    height: 650px;
    float: right;
}

.center-timetable {
    padding-top: 25px;
    padding-bottom: 5px;
    width: 30%;
    height: 650px;
    float: left;
}

.left-timetable img {
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.right-timetable img {
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
    background-color: #59fad7;
    padding: 10px;
    width: 250px;
    margin: 10px 50px 10px 80px;
  }

.grid-container > h2 {
    text-align: center;
    font-size: 30px;
}

.grid-container > div {
    background-color: #fafafa;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    color: #454545;
    line-height: 1.4;
}

.grid-container h3 {
    text-transform: uppercase;
    padding-top: 10px;
}


/* more info*/

.more-info-left {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 30%;
    height: 300px;
    float: left;
}

.more-info-right {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 70%;
    height: 300px;
    float: right;
}

.more-info-left img {
    height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.more-info-right p {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
}

.more-info-right h2 {
    padding: 10px;
    font-size: 30px;
}

.bootcamp-left {
    padding-top: 20px;
    padding-bottom: 15px;
    width: 70%;
    height: 350px;
    float: left;
}

.bootcamp-right {
    padding-top: 20px;
    padding-bottom: 15px;
    width: 30%;
    height: 350px;
    float: right;
}

.bootcamp-left p {
    padding-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.bootcamp-left h2 {
    padding: 10px;
    font-size: 30px;
}

.bootcamp-left ul {
    margin: 10px;
}

.bootcamp-right img {
    height: 255px;
    width: auto;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.equipment-list li {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 20px;
}

.workout-left {
    padding-top: 30px;
    padding-bottom: 15px;
    width: 30%;
    height: 300px;
    float: left;
}

.workout-right {
    padding-top: 30px;
    padding-bottom: 15px;
    width: 70%;
    height: 300px;
    float: right;
}

.workout-left img {
    height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.workout-right p {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
}

.workout-right h2 {
    padding: 10px;
    font-size: 30px;
}

.workout-right ul {
    margin: 10px;
}

.exercise-list li {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 20px;
}

/* contact us */

.signup-left {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    height: 400px;
    float: left;
}

.signup-right {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    height: 400px;
    float: right;
}

.signup-right img {
    height: 410px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-info-left {
    width: 40%;
    height: 350px;
    float: left;
}
.contact-info-right {
    width: 60%;
    height: 350px;
    float: right;
}

.contact-info {
    margin-left: 20px;
    padding: 30px;
}

.contact-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.contact-info p, div{
    font-size: 20px;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 600px;
    height: 300px
}


/* signup form */

.signup-form {
    float: left;
    margin-left: 25px;
}

.signup {
    margin-left: 20px;
    color: #454545;
    background-color: #59fad7;
    max-width: 400px;
    padding: 30px;
    border: 2px solid #454545;
}

.signup > h2 {
    color: #454545;
    margin-bottom: 20px;
}

.text-input {
    background-color:#fafafa;
    color: #454545;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #454545;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #454545;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fafafa;
    color: #454545;
    display: block;
}

.join-button:hover {
    background-color: #454545;
    color: #59fad7;
}

/* media queries */

/* for larger to medium sized screens from 1200px */

@media screen and (max-width: 1200px) {
    .hero {
        width: 100%;
        height: 600px;
        margin: 0 auto;
    }

    .info {
        height: 680px;
    }
    
    .left-home {
        width: 30%;
        height: auto;
        margin: 0;
    }

    .left-home img {
        height: 498px;
        width: 350px;
        padding-top: 30px;
    }

    .right-home {
        width: 70%;
        height: 630px;
    }

    .more-info-left img {
        width: 350px;
        height: 250px;
        padding-top: 25px;
    }
 
    .bootcamp-right img {
        width: 350px;
        height: 250px;
        padding-top: 25px;
    }

    .workout-left img {
        width: 350px;
        height: 250px;
        padding-top: 25px;
    }

    .left-timetable img {
        width: auto;
        height: 250px;
        padding-top: 25px;
    }

    .right-timetable img {
        width: auto;
        height: 250px;
        padding-top: 25px;
    }

    .grid-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* for medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

    .menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        }

    .hero {
        height: 400px;
    }    
    
    .hero img {
        width: 100%;
        height: auto;
    }
        
    .hero-text {
        line-height: 1.2;
        letter-spacing: 2px;
        padding: 10px;
        top: 160px;
        right: 40px;
        }
        
    .info {
        height: 500px;
    }
        
    .left-home {
       height: 500px; 
    }

    .left-home img {
        height: 400px;
        width: 280px;
    }

    .right-home {
        height: 500px;
    }

    .right-home p {
        font-size: 18px;
        line-height: 1.2;
    }
    
    .right-home h2 {
        font-size: 28px;
        line-height: 1.2;
    }
    
    
    .left-timetable {
        width: 50%;
        height: auto;
        padding-top: 10px;
    }
    .left-timetable img {
        width: 250px;
        height: 150px;
        padding-top: 10px;
    }

    .right-timetable {
        width: 50%;
        height: auto;
        padding-top: 10px;
        float: left;
    }

    .right-timetable img {
        width: 250px;
        height: 150px;
        padding-top: 10px;
    }

    .center-timetable {
        width: 50%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 59px;
        float: right;
    }

    .grid-container {
        width: 60%;
        height: 80%;
    }


    .more-info-left {
        height: 220px;
        width: 25%;
        position: absolute;
        top: 7.5em;
        padding-top: 10px;
    
    }
    .more-info-left img {
        width: 235px;
        height: auto;
    }

    .more-info-right {
        height: 220px;
        width: 75%;
        padding-top: 10px;
    }

    .more-info-right h2 {
        font-size: 26px;
    }

    .more-info-right p {
        font-size: 16px;
        padding-top: 5px;
    }

    .bootcamp-left {
        height: 255px;
        width: 75%;
        padding-top: 10px;
        float: left;
    }

    .bootcamp-left h2 {
        font-size: 26px;  
    }

    .bootcamp-left p {
        font-size: 16px;
        padding-top: 5px;
    }

    .equipment-list li {
        font-size: 16px;
    }

    .bootcamp-right {
        height: 255px;
        width: 25%;
        padding-top: 10px;
        float: left;
    }

    .bootcamp-right img {
        width: 250px;
        height: auto;
        margin-top: 20px;
    }

    .workout-left {
        height: 260px;
        width: 25%;
        padding-top: 10px;
        float: left;
    }

    .workout-left img {
        width: 240px;
        height: auto;
        margin-top: 40px;
    }

    .workout-right {
        height: 260px;
        width: 75%;
        padding-top: 10px;
        float: left;
    }

    .workout-right h2 {
        font-size: 26px;
    }

    .workout-right p {
        font-size: 16px;
        padding-top: 5px;
    }

    .exercise-list li {
        font-size: 16px;
    }


    .signup-left {
        height: 420px;
        position: absolute;
        top: 7.5em;
    }

    .signup-right {
        height: 420px;
        position: absolute;
        top: 7.5em;
        left: 24em;
    }

    .signup-right img {
        height: 350px;
        margin-top: 30px;
    }

    .contact-info-left {
        height: 300px;
        position: absolute;
        top: 36.5em;
    }

    .contact-info h2 {
        font-size: 28px;
    }

    .contact-info p {
        font-size: 18px;
    }

    .contact-info-right {
        height: 300px;
        position: absolute;
        top: 36.5em;
        left: 24em;
    }

    #map {
        width: 500px;
        height: 200px
    }

    .signup {
        max-width: 250px;
    }

    .signup-form {
        margin-left: 10px; 
    }

    .signup h2 {
        font-size: 28px;
    }
}

/* For small screen sizes 800px and down */

@media screen and (max-width: 800px) {

    body {
        font-weight: 150;
    }
    
    h1, h2 {
        letter-spacing: 2px;
    }

    .logo {
        font-size: 80%;
    }

    .menu {
        font-size: 80%;
        clear: left;
        float: left;
    }

    .hero {
        height: 200px;
    }

    .hero-image {
        width: 100%;
        height: 200px;
    }

    .hero-text {
        font-size: 40%;
        letter-spacing: 2px;
        line-height: 1.2;
        padding: 10px;
        top: 25px;
        right: 10px;
    }

    .left-home {
        width: 100%;
        height: max-content;
    }

    .left-home img {
        padding-top: 0;
    }

    .right-home {
        width: 100%;
        height: max-content;
    }

    .left-timetable {
        width: 50%;
    }

    .right-timetable {
        width: 50%;
    }

    .center-timetable {
        width: 50%;
        padding-top: 25px;
        padding-bottom: 27px;
    }
  
    .left-timetable img {
        width: 140px;
        height: 100px;    
    }

    .right-timetable img {
        width: 140px;
        height: 100px;   
    }

    .grid-container {
        gap: 8px;
        margin: 0;
        width: max-content;
    }

    .grid-container > h2 {
        font-size: 22px;
    }

    .grid-container > div {
        font-size: 12px;
        line-height: 1.2;
    }

    .grid-container h3 {
        font-size: 16px;
    }

    .more-info-right {
        
        width: 100%;
        height: max-content;
    }

    .more-info-left {
        width: 100%;
        height: max-content;
    }

    .more-info-left img {
        height: 155px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
    }
  
    .bootcamp-left {
        float: right;
        width: 100%;
        height: max-content;
    }

    .bootcamp-right {
        float: left;
        width: 100%;
        height: max-content;
    }

    .bootcamp-right img {
        height: 155px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
    }

    .workout-left {
        float: right;
        width: 100%;
        height: max-content;
    }

    .workout-left img {
        height: 155px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
    }
   
    .workout-right {
        float: left;
        width: 100%;
        height: max-content;
    }

    .signup-left {
        width: 100%;
        height: max-content;
    }

    .signup-right {
        width: 100%;
        height: max-content;
        float: left;
    }

    .signup {
        margin: 0;
    }

    .signup-form {
        margin: 0;
    }

    .signup > h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .text-input {
        margin: 5px 0 10px 0;
    }
      
    .join-button {
        margin-top: 20px;
        border-radius: 2px;
        padding: 15px 32px;
        text-align: center;
        font-size: 80%;
        background-color: #fafafa;
        color: #454545;
        display: block;
    }
    
    

    .contact-info-left {
        width: 100%;
        height: max-content;
    }

    .contact-info-right {
        width: 100%;
        height: max-content;
        float: left;
    }




}