@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #354B45;
}

/* headings and logo */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #454545;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #454545;
}

.active {
    border-bottom: 1px solid #454545;
}

/* hero image */

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: 1600px;
}

#hero-text {
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    color: #454545;
    background-color: #59fad7;

    top: 150px;
    right: 200px;

    position: absolute;
}

/* information section */

#info {
    height: 800px;
}

#left-home {
    padding-top: 30px;
    width: 30%;
    float: left;
    background-color: blue;
}

#right-home {
    padding-top: 30px;
    width: 70%;
    float: right;
    background-color: green;
}

#left-home img {
    height: 360px;
    width: auto;
    float: left;
}

#right-home p {
    padding-top: 30px;
}

#right-home h1 {
    padding: 10px;
}

/* footer */

footer {
    height: 150px;
}

#footer-menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}

#footer-menu li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 43px;
}

#footer-menu a {
    text-decoration: none;
    color: inherit;
}

#footer-menu a:hover {
    border-bottom: 1px solid #454545;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #454545;
}